$baseColor: hsl(0, 0%, 90%);
*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    
    img{
        width: 100vw;
        height: 100%;
    }
}
nav{
    height: 20px;
    background-color: rgb(52, 165, 42);
    ul{
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        height: 100%;
        li{
            list-style: none;
            margin: 0px 20px;
            height: 70%;
        }
    }
}
footer{
    position: absolute;
    bottom: 0px;
    // height: 210px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-flow: row;
    
    section{
        width: 33%;
    }
}
section>form{
    display: flex;
    flex-flow: column;
    input{
        margin: 5px;
        padding: 5px;
    }
}

.back{
    top: 20px;
    left: 20px;
    position: absolute;
    font-size: 50px;
    a{
        text-decoration: none;
        color:indigo;
    }
}
.loginStyle>form{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    
    input{
        width: 300px;
        padding: 5px;
        margin: 5px;
    }
    label{
        width: 300px;
    }

}
.formHolder{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newspaper{
    margin-top: 150px;
    main{
        display: block;
        margin: 0px auto;
        width: 800px;
        
        h4{
            padding: 10px;
            font-size: 2rem;
        }
        h5{
            font-size: 1.2rem;
        }
    }
}
.formStyleToInputAndFail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#described{
    height: 100px;
}





.dark{
    background-color:darken($baseColor, 15%)
}
.light{
    background-color: $baseColor;
}
// test